body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #d1d1d1;
}

/*======================== Full Page ========================*/
section#fullPage {
  width: 90%;
  height: 90%;
  transform: translate(5%, 5%);
  border-radius: 1.7rem;
  background: rgb(255, 255, 255);
  /* buttons top */
}
section#fullPage .decorationCircle {
  position: absolute;
  width: 15%;
  height: 4rem;
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#fullPage .decorationCircle .circleDrawn {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  -webkit-animation: pulseCircle ease 3s infinite;
          animation: pulseCircle ease 3s infinite;
  transition: 0.3s;
}
section#fullPage .decorationCircle .circleDrawn:nth-child(1) {
  background: #e35f55;
}
section#fullPage .decorationCircle .circleDrawn:nth-child(2) {
  background: #f3bb33;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
section#fullPage .decorationCircle .circleDrawn:nth-child(3) {
  background: #62c444;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes pulseCircle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes pulseCircle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
section#fullPage .arrows-section {
  width: 100%;
  height: 4rem;
  background: rgb(87, 84, 84);
  border-top-left-radius: 1.7rem;
  border-top-right-radius: 1.7rem;
  display: flex;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  z-index: 2;
}
section#fullPage .arrows-section #arrowBtnRight,
section#fullPage .arrows-section #arrowBtnleft {
  color: #fefefe;
  font-size: 2.5rem;
  transition: 0.3s;
  cursor: pointer;
}
section#fullPage .arrows-section #arrowBtnRight:hover,
section#fullPage .arrows-section #arrowBtnleft:hover {
  transform: translateY(8px) scale(0.9);
  color: rgb(214, 214, 214);
}
section#fullPage .content {
  display: flex;
}
section#fullPage .content .left-Page,
section#fullPage .content .rigth-Page {
  position: absolute;
  background: rgb(255, 255, 255);
  width: 50%;
  height: calc(100% - 4rem);
}
section#fullPage .content .left-Page {
  border-bottom-left-radius: 1.7rem;
}
section#fullPage .content .rigth-Page {
  margin-left: 50%;
  border-bottom-right-radius: 1.7rem;
}
section#fullPage .content .cortana-display {
  position: absolute;
  height: calc(100% - 4rem);
  width: 50%;
  transition: 0.3s;
  background: #312f2f;
  border-bottom-left-radius: 1.7rem;
  z-index: 1;
}
section#fullPage .content .cortana-display .timerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
section#fullPage .content .cortana-display .timerContainer h1 {
  color: #fefefe;
  font-size: 4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}
section#fullPage .content .cortana-display .timerContainer .AmPm {
  font-size: 1.5rem;
  margin-top: -4.5rem;
  color: rgb(202, 202, 202);
}/*# sourceMappingURL=styleComponents.css.map */